# Visual Studio files
.vs/
*.sln
*.suo
*.user
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio build folders
Debug/
Release/
x64/
x86/

# Backup files
*~
*.bak

# Other ignored files and folders
.DS_Store
Thumbs.db

# Raylib specific files
raylib.log
raylib.trace
